@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}      

@media print {
  .logout,.tambah, .from-cari, .aksi, .navbar1{
    display: none;
  }

}